<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thyssen-Bornemisza Museum Collection</title>
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <script src="lib/js/vue.min.js"></script>
    <script src="lib/js/jquery-3.4.1.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script type="module" src="assets/js/script.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="navbar sticky-top navbar-dark bg-dark text-light">
        <h4 class="nav-brand">Thyssen-Bornemisza Museum Collection</h4>
      </nav>
      <div id="content" class="container-fluid">
        <div class="row">
          <div class="container-fluid p-3">
            <div v-if="loading" class="text-center">
              <h3>
                Loading…
              </h3>
            </div>
            <div v-else id="search-results">
              <h2>Search Results</h2>
              <div class="row">
                <div v-for="item in resultItems" class="col-12 col-sm-6 col-lg-4 col-xl-3">
                  <div class="card my-3">
                    <img v-if="item.hasPreview" :src="item.preview" class="result-item-image card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <p>
                        <span v-for="concept in item.concepts" class="badge badge-secondary mx-1">{{concept}}</span>
                      </p>
                      <div class="text-right">
                        <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary">Read more »</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
