<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Thyssen-Bornemisza Museum Collection</title>
    <link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="lib/css/leaflet.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/spinner.css">
    <script src="lib/js/vue.min.js"></script>
    <script src="lib/js/jquery-3.4.1.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>
    <script src="lib/js/leaflet.js"></script>
    <script type="module" src="assets/js/script.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="navbar sticky-top navbar-dark bg-dark text-light">
        <h4 class="nav-brand">Thyssen-Bornemisza Museum Collection</h4>
      </nav>
      <div id="content" class="container-fluid">
        <div class="row">
          <div class="container-fluid p-3" id="search-results">
            <h2>Search Results</h2>
            <div v-if="error" class="alert alert-danger">
              <strong>Error:</strong>
              {{error}}
            </div>
            <div class="row">
              <div class="col-12 text-right">
                <span v-if="!loading">
                  <strong>
                    Page #{{page}} of {{pages}}
                  </strong>
                  -
                  <small>
                    Displaying {{resultItems.length}} result(s) from {{totalResults}} in total.
                  </small>
                </span>
                <span v-else>
                  &nbsp;
                </span>
              </div>
              <div class="col-12 view-panel">
                <div class="float-left">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a href="javascript:void(0);" class="nav-link" :class="{active: view == 'list'}" @click="setView('list');">
                        List View
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="javascript:void(0);" class="nav-link" :class="{active: view == 'map'}" @click="setView('map');">
                        Map View
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="float-right text-right pt-2">
                  <button v-if="view == 'map' && !searchByLocation" class="btn btn-outline-dark" @click="enableSearchByLocation();">
                    Search by current location
                  </button>
                  <button v-if="searchByLocation" class="btn btn-secondary" @click="disableSearchByLocation();">
                    Disable location search
                  </button>
                </div>
              </div>
              <div v-if="view == 'list' && loading" class="col-12 text-center py-3">
                <div class="spinner"></div>
                <h2>Loading…</h2>
              </div>
              <div v-if="view == 'list'&& !loading && !error && (!resultItems || !resultItems.length)" class="col-12">
                <div class="alert alert-dark my-3">
                  There are no results to display.
                </div>
              </div>
              <div v-if="view == 'list'" v-for="item in resultItems" class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="card my-3">
                  <img v-if="item.hasPreview" :src="item.preview" class="result-item-image card-img-top">
                  <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p>
                      <span v-for="concept in item.concepts" class="badge badge-secondary mx-1">{{concept}}</span>
                    </p>
                    <div class="text-right">
                      <a href="javascript:void(0);" class="btn btn-sm btn-outline-primary"
                        @click="openItem(item);">Read more »</a>
                    </div>
                  </div>
                </div>
              </div>
              <div v-if="view == 'map'" class="col-12 text-center pb-3">
                <div id="map-loading" class="justify-content-center text-right">
                  <span v-if="loading">
                    Loading data…
                  </span>
                  <span v-else>
                    &nbsp;
                  </span>
                </div>
                <div id="map" class="m-auto"></div>
              </div>
            </div>
            <div v-if="pagination && (!loading || view == 'map')">
              <nav class="d-flex justify-content-center">
                <ul class="pagination">
                  <li v-if="page > 1" class="page-item">
                    <a href="javascript:void(0);" class="page-link" @click="setPage(page - 1);">
                      &lt;
                    </a>
                  </li>
                  <li v-for="p in pagination.getPagesArray(true)" class="page-item" :class="p.class">
                    <a href="javascript:void(0);" class="page-link" @click="setPage(p.page);">
                      {{p.page}}
                    </a>
                  </li>
                  <li v-if="page < pagination.pages" class="page-item">
                    <a href="javascript:void(0);" class="page-link" @click="setPage(page + 1);">
                      &gt;
                    </a>
                  </li>
                </ul>
              </nav>
              <nav v-if="pagination && pagination.pages > 0" class="text-center">
                Go to page
                <select class="form-control d-inline w-auto" v-model="page" @change="selectPage();">
                  <option v-for="p in pagination.getPagesArray(false)" :value="p.page">{{p.page}}</option>
                </select>
              </nav>
            </div>
          </div><!-- Close #search-results -->
        </div><!-- Close .row -->
      </div><!-- Clse #content -->
    </div><!-- Close #app -->
  </body>
</html>
