body, * {
  font-family: sans-serif;
}

.result-item-image {
  height: 180px;
  width: auto;
  object-fit: cover;
}

.pagination {
  display: flex;
  flex-flow: wrap;
}

.popup-img {
  height: 200px;
  width: auto;
}

.view-panel {
  clear: both;
}

#map-loading {
  width: 95%;
}

#map {
  width: 95%;
  height: 65vh;
}
